USE [master]
GO
/****** Object:  Database [loginRN]    Script Date: 18/8/2023 10:25:25 ******/
ALTER DATABASE [loginRN] SET COMPATIBILITY_LEVEL = 140
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [loginRN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [loginRN]
GO
/****** Object:  User [user]    Script Date: 18/8/2023 10:25:25 ******/
CREATE USER [user] FOR LOGIN [user] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [alumno]    Script Date: 18/8/2023 10:25:25 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [user]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 18/8/2023 10:25:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[username] [varchar](50) NOT NULL,
	[password] [varchar](25) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Users] ([username], [password]) VALUES (N'user', N'pass')
GO
USE [master]
GO
